@model MVC_DemoPractice.Models.MyClass

<div class="jumbotron">
    <fieldset>
        <legend>
            @Model.Title
        </legend>
        <p>
            @Model.Body
        </p>
    </fieldset>
</div>
